@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Menbere:wght@100..700&display=swap');


/**KeyFrames**/

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}


.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
}

.monke1 {
    width: auto;
    /* Lets height control the size */
    height: 100vh;
    /* 80% of viewport height */
    max-width: 100vh;
    /* Prevents overflow */
    object-fit: contain;
    /* Maintains aspect ratio */
    border-radius: 60px;
}

.close-modal {
    position: absolute;
    top: 1.2rem;
    right: 9em;
    font-size: 60px;
    color: white;
    cursor: pointer;
    border: none;
    background: none;
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Modak", cursive;
    font-weight: 400;
    font-size: 6em;
    font-style: normal;
    text-align: center;
    color: #AEC8A4;
    text-shadow: 4px 4px #8A784E;
}

h1 img {
    width: 1em;
    height: 1em;
    margin-left: 12px;
}

.desc {
    font-family: "Menbere", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 2em;
    font-style: normal;
    text-align: center;

}

.hidden {
    display: none !important;
}



.btn {

    cursor: pointer;
    display: inline-block;
    outline: 0;
    border: 0;
    cursor: pointer;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    will-change: box-shadow, transform;
    background: #F4EBD3;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #DED3C4;
    height: 48px;
    padding: 0 32px;
    font-size: 18px;
    border-radius: 6px;
    color: #36395a;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    text-align: center;



}

.btn:hover {
    box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
    transform: translateY(-2px);
}

.btn:active {
    box-shadow: inset 0px 3px 7px #d6d6e7;
    transform: translateY(2px);
}

.btnplacement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-top: 2em;
}


body {
    background-color: #E7EFC7;
}

.box {

    border: 5px solid #A7C1A8;
    padding: 5em;
    border-radius: 5px;
    display: block;
    width: fit-content;
    margin: 20px auto;
    background-color: #D1D8BE;
}

.timer {

    text-align: center;
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 6em;
    color: #AEC8A4;
    text-shadow: 4px 4px #8A784E;

}