@import url('https://fonts.googleapis.com/css2?family=Modak&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/**KeyFrames**/

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    animation-name: fadeInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    font-family: "Modak", cursive;
    font-weight: 400;
    font-size: 6em;
    font-style: normal;
    text-align: center;
    color: #AEC8A4;
    text-shadow: 4px 4px #8A784E;
}

h1 img {
    width: 1em;
    height: 1em;
    margin-left: 12px;
}

.desc {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    text-align: center;

}

.hidden {
    display: none;
}

.timer {
    font-weight: 700;
    text-align: center;
    padding-top: 2em;
}

.btn {
    height: 2em;
    width: 6em;
}

.btnplacement {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    padding-top: 2em;
}


body {
    background-color: #E7EFC7;
}